<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${NAME}"></title>
</head>
<body>

<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="Logout"/>
</form>
<br>
<a th:href="@{/auth_home}">All anime</a>
<br>
<form th:method="get" th:action="@{/search/mylist}" th:object="${search_anime}">
    <input type="text" placeholder="Search in your list" th:field="*{title}">
    <input type="submit" value="Search">
</form>
<p th:text="${user.name}"></p>

<div th:each="useranime: ${anime_list}">
    <img th:src="${useranime.anime.getWebp()}">
    <a th:href="@{/anime_info/{animeId}(animeId=${useranime.anime.id})}" th:text="${useranime.anime.title}">TITLE</a>
    <div th:text="${useranime.status}"></div>
    <br>
</div>
</body>
</html>