<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Anime info</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<div class="shapka">
    <div class="pod_shapka1">
        <a th:if="${user!=null}" class="pod_shapka1" th:href="@{/auth_home}">
            <img alt="Sharingan" srcset="https://img.icons8.com/plasticine/512/sharingan.png 2x" style="width: 80px; height: 80px;">
            <p class="animeHub">AnimeHub</p>
        </a>
        <a th:if="${user==null}" class="pod_shapka1" th:href="@{/}">
            <img alt="Sharingan" srcset="https://img.icons8.com/plasticine/512/sharingan.png 2x" style="width: 80px; height: 80px;">
            <p class="animeHub">AnimeHub</p>
        </a>
    </div>
    <div class="pod_shapka2">
        <a th:if="${user== null}" th:href="@{/}">Главная страница</a>
        <a th:if="${user != null}" th:href="@{/auth_home}">Главная страница</a>
        <a th:href="@{/genres}">Жанры</a>
        <button th:if="${user== null}" id="loginButton">Войти</button>
        <a th:if="${user != null}" th:href="@{/account}">Профиль</a>
        <form class = "logout_form" th:if="${user != null}" th:action="@{/logout}" th:method="post">
            <input class="logout_button" type="submit" value="Выйти"/>
        </form>
    </div>
</div>
<dialog class="dialog_window" id="loginFormDialog">
    <a class="logo_in_window" th:href="@{/}">
        <img alt="Sharingan" srcset="https://img.icons8.com/plasticine/512/sharingan.png 2x" style="width: 80px; height: 80px;">
        <p class="animeHub">AnimeHub</p>
    </a>
    <p style="margin-left: 15px; margin-top: 20px; font-weight: 300; font-size: 24px; text-align: center">Authorisation</p>
    <form class="form_window" th:action="@{/login}" method="POST">
        <div>
            <label th:for="username">Введите email: </label>
            <div class="input_window">
                <input type="email" name="username">
            </div>
        </div>
        <div>
            <label th:for="password">Введите пароль: </label>
            <div class="input_window">
                <input type="password" name="password"/>
            </div>
        </div>
        <a style="margin-left: 15px;" th:href="@{/registration}">Зарегистрироваться</a>
        <input class="button_window" type="submit" value="Войти"/>
    </form>

</dialog>
<script>
    document.getElementById("loginButton").addEventListener("click", () => {
        document.getElementById("loginFormDialog").showModal();
    })
    document.getElementById("registrButton").addEventListener("click", () => {
        document.getElementById("registrFormDialog").showModal();
    })
</script>
<div class="anime_info">

    <div class="status_card">
        <img th:src="${anime.getWebp()}">

        <div th:if="${user!=null}">

            <form th:object="${useranime}" th:method="post" th:action="@{/anime_info/{animeId}/change_status(animeId=${anime.id})}">
                <select th:field="*{status}">
                    <div th:if="${useranime1==null}">
                        <option th:value="notadded" th:field="*{status}" selected>Not added</option>
                        <option th:value="viewing" th:field="*{status}">Viewing</option>
                        <option th:value="viewed" th:field="*{status}">Viewed</option>
                        <option th:value="planned" th:field="*{status}" selected>Planned</option>
                        <option th:value="postponed" th:field="*{status}">Postponed</option>
                        <option th:value="thrown" th:field="*{status}">Thrown</option>
                        <option th:value="reviewing" th:field="*{status}">Reviewing</option>
                    </div>
                    <div th:if="${useranime1!=null}">
                        <option th:value="notadded" th:field="*{status}">Not added</option>>
                        <option th:value="viewing" th:field="*{status}" th:selected="${useranime1.status=='viewing'}">Viewing</option>
                        <option th:value="viewed" th:field="*{status}" th:selected="${useranime1.status=='viewed'}">Viewed</option>
                        <option th:value="planned" th:field="*{status}" th:selected="${useranime1.status=='planned'}">Planned</option>
                        <option th:value="postponed" th:field="*{status}" th:selected="${useranime1.status=='postponed'}">Postponed</option>
                        <option th:value="thrown" th:field="*{status}" th:selected="${useranime1.status=='thrown'}">Thrown</option>
                        <option th:value="reviewing" th:field="*{status}" th:selected="${useranime1.status=='reviewing'}">Reviewing</option>
                    </div>

                </select>
                <input type="submit" value="Set status">
            </form>
        </div>
    </div>
    <div class="info">
        <p class="anime_name" th:text="${anime.title}">VALUE</p>
        <p><b>English title: </b><span th:text="${anime.title_english}">VALUE</span></p>
        <p><b>Japanese title: </b><span th:text="${anime.title_japanese}">VALUE</span></p>
        <p><b>Type: </b><span th:text="${anime.TV}">VALUE</span></p>
        <p><b>Genres: </b>
            <span  th:each="animegenre:${anime.animeGenres}">
                <a class="anime_genre" th:href="@{/genres/{genreName}(genreName=${animegenre.genre.name})}" th:text="${animegenre.genre.name}"></a>
            </span>
        </p>

        <p><b>Episodes: </b><span th:text="${anime.episodes}"></span></p>
        <p><b>Duration: </b><span th:text="${anime.duration}">VALUE</span></p>

        <p><b>Rating: </b><span th:text="${anime.rating}"></span></p>

        <p><b>Status: </b><span th:text="${anime.status}">VALUE</span></p>
        <p><b>First release: </b><span th:text="${anime.from}"></span></p>
        <p><b>Last release: </b><span th:text="${anime.to}"></span></p>
        <p><b>Year: </b><span th:text="${anime.year}">VALUE</span></p>
        <p><b>Season: </b><span th:text="${anime.season}">VALUE</span></p>

        <p><b>Description: </b><span th:text="${anime.synopsis}">VALUE</span></p>
    </div>
</div>
</body>
</html>

