<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AnimeHub</title>
</head>
<body>
<a th:href="@{/account}">Go to my profile</a>
<br><br>
<form th:method="get" th:action="@{/search}" th:object="${search_title}">
    <input type="text" placeholder="Title" th:field="*{title}">
    <input type="submit" value="Search">
</form>
<br>
<div th:each="anime: ${anime_list}">
    <img th:src="${anime.getWebp()}">
    <a th:href="@{/anime_info/{animeId}(animeId=${anime.id})}" th:text="${anime.title}">TITLE</a>

    <div th:each="useranime: ${useranime_list}">
        <div th:if="${anime==useranime.anime}">
            <div th:text="${useranime.status}"></div>
        </div>
    </div>
    <br>
</div>

<br>
<hr>
<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>