<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AnimeHub</title>
</head>
<body>
<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="Logout"/>
</form>
<br>
<a th:href="@{/account}">My profile</a>
<br>
<a th:href="@{/genres}">All genres</a>
<br>
<form th:method="get" th:action="@{/search}" th:object="${search_anime}">
    <input type="text" placeholder="Title" th:field="*{title}">
    <input type="submit" value="Search">
</form>
<br>

<nav>
    Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages - 1}]]
    <br>
    <a  class="page-link" th:if="${currentPage > 1}" th:href="@{/auth_home/1}">First</a>
    <span th:unless="${currentPage > 1}">First</span> |

    <a th:if="${currentPage < totalPages}" th:href="@{'/auth_home/' + ${currentPage + 1}}">Next</a>
    <span th:unless="${currentPage < totalPages}">Next</span> |

    <span th:if="${currentPage<5}">
    <span th:each="i: ${#numbers.sequence(1, 5)}">
      <a th:if="${i != currentPage}" th:href="@{'/auth_home/' + ${i}}">[[${i}]]</a>
      <span th:unless="${i != currentPage}">[[${i}]]</span>
    </span>
    ...
  </span>

    <span th:if="${currentPage>=totalPages - 5}">
    ...
    <span th:each="i: ${#numbers.sequence(totalPages - 5, totalPages - 1)}">
      <a th:if="${i != currentPage}" th:href="@{'/auth_home/' + ${i}}">[[${i}]]</a>
      <span th:unless="${i != currentPage}">[[${i}]]</span>
    </span>
  </span>

    <span th:if="${currentPage>=5 and currentPage<totalPages - 5}">
    ...
    <span th:each="i: ${#numbers.sequence(currentPage - 2, currentPage + 2)}">
      <a th:if="${i != currentPage}" th:href="@{'/auth_home/' + ${i}}">[[${i}]]</a>
      <span th:unless="${i != currentPage}">[[${i}]]</span>
    </span>
    ...
  </span>

    | <a th:if="${currentPage > 1}" th:href="@{'/auth_home/' + ${currentPage - 1}}">Previous</a>
    <span th:unless="${currentPage > 1}">Previous</span>

    | <a th:if="${currentPage < totalPages -1}" th:href="@{'/auth_home/' + ${totalPages - 1}}">Last</a>
    <span th:unless="${currentPage < totalPages - 1}">Last</span>
</nav>
<br>

<div th:each="anime: ${anime_list}">
    <img th:src="${anime.getWebp()}">
    <a th:href="@{/anime_info/{animeId}(animeId=${anime.id})}" th:text="${anime.title}">TITLE</a>

    <div th:each="useranime: ${useranime_list}">
        <div th:if="${anime==useranime.anime}">
            <div th:text="${useranime.status}"></div>
        </div>
    </div>
    <br>
</div>

<br>
<nav>
    <br>
    <a  class="page-link" th:if="${currentPage > 1}" th:href="@{/auth_home/1}">First</a>
    <span th:unless="${currentPage > 1}">First</span> |

    <a th:if="${currentPage < totalPages}" th:href="@{'/auth_home/' + ${currentPage + 1}}">Next</a>
    <span th:unless="${currentPage < totalPages}">Next</span> |

    <span th:if="${currentPage<5}">
    <span th:each="i: ${#numbers.sequence(1, 5)}">
      <a th:if="${i != currentPage}" th:href="@{'/auth_home/' + ${i}}">[[${i}]]</a>
      <span th:unless="${i != currentPage}">[[${i}]]</span>
    </span>
    ...
  </span>

    <span th:if="${currentPage>=totalPages - 5}">
    ...
    <span th:each="i: ${#numbers.sequence(totalPages - 5, totalPages - 1)}">
      <a th:if="${i != currentPage}" th:href="@{'/auth_home/' + ${i}}">[[${i}]]</a>
      <span th:unless="${i != currentPage}">[[${i}]]</span>
    </span>
  </span>

    <span th:if="${currentPage>=5 and currentPage<totalPages - 5}">
    ...
    <span th:each="i: ${#numbers.sequence(currentPage - 2, currentPage + 2)}">
      <a th:if="${i != currentPage}" th:href="@{'/auth_home/' + ${i}}">[[${i}]]</a>
      <span th:unless="${i != currentPage}">[[${i}]]</span>
    </span>
    ...
  </span>

    | <a th:if="${currentPage > 1}" th:href="@{'/auth_home/' + ${currentPage - 1}}">Previous</a>
    <span th:unless="${currentPage > 1}">Previous</span>

    | <a th:if="${currentPage < totalPages -1}" th:href="@{'/auth_home/' + ${totalPages - 1}}">Last</a>
    <span th:unless="${currentPage < totalPages - 1}">Last</span>
    <br>
    Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages - 1}]]
</nav>

<br>
<hr>
</body>
</html>