<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anime Hub</title>
</head>
<body>
<div th:if="${user!=null}">
    <a th:href="@{/account}">My profile</a>
    <br><br>
</div>
<form th:method="get" th:action="@{/search}" th:object="${search_title}">
    <input type="text" placeholder="Title" th:field="*{title}">
    <input type="submit" value="Search">
</form>
<br>

<b>Anime with genre <span th:text="${genre_name}"></span>: </b><br>
<div th:each="animegenre: ${animegenre_list}">
    <img th:src="${animegenre.anime.jpg}">
    <a th:href="@{/anime_info/{animeId}(animeId=${animegenre.anime.id})}" th:text="${animegenre.anime.title}">TITLE</a>
</div>

<br>
<a th:href="@{/auth_home}">All anime</a>
</body>
</html>