<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<p>Для зарегистрированных пользователей!</p>
<form th:action="@{/login}" method="POST">
    <label th:for="username">Введите email: </label>
    <input type="email" name="username"><br><br>
    <label th:for="password">Введите пароль: </label>
    <input type="password" name="password"/><br><br>
    <input type="submit" value="Войти"/>
</form>
<div th:if="${param.error}">Ошибка авторизации</div>
<a th:href="@{/registration}">Зарегистрироваться</a>
</body>
</html>